.MainBanner {
    background: url('../../Assets/BeforYouSetSail/mainBanner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 20px;
    position: relative;
    text-align: center;
    color: #4E0707;
}

.MainBanner h3,
.MainBanner h2 {
    font-family: "Photograph Signature";
}

.MainBanner h2 {
    font-size: 5rem;
    margin-top: 50px;
}

.MainBanner h3 {
    font-size: 2.2rem;
}

.MainBanner h4 {
    font-family: 'Cookie', cursive;
    font-size: 2rem;
    margin-bottom: 50px;
}

.rules {
    margin: 50px auto;
    padding-bottom: 100px;
}

button.backBtn {
    font-family: 'Cookie', cursive;
    background: transparent;
    color: #4E0707;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
}

@media screen and (max-width: 480px) {
    .MainBanner h2 {
        font-size: 3rem;
    }

    .MainBanner h3 {
        font-size: 1.5rem;
    }

    .MainBanner h4 {
        font-size: 1.2rem;
    }

    .mobileViewPadding .container {
        padding: 0;
    }
}